* {
    padding: 0;
    margin: 0;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
}


main {
    background-color: #505168;
    height: 30rem;
}

footer {
    background-color: #969B9C;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-title {
    font-family: "Oswald", sans-serif;   
}

header {
    background-color: #969B9C;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.large-link {
    font-size: larger;
    margin-left: 3rem;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.header-lft {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.header-rt {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo {
    font-family: "Oswald", sans-serif;   
}

.email {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: larger;
}

.social {
    font-size: x-large;
    color: black;
}