* {
    padding: 0;
    margin: 0;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
}

/* Header/Footer */

footer {
    background-color: #969B9C;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-title {
    font-family: "Oswald", sans-serif;   
    text-shadow: 2px 2px 2px lightgray;
}

header {
    background-color: #969B9C;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.large-link {
    font-size: larger;
    margin-left: 3rem;
    font-family: "Oswald", sans-serif;
    text-shadow: 2px 2px 2px lightgray;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.header-lft {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.header-rt {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo {
    font-family: "Oswald", sans-serif;
    text-shadow: 2px 2px 2px lightgray;
}

.email {
    font-family: "Oswald", sans-serif;
    text-shadow: 2px 2px 2px lightgray;
    letter-spacing: 1px;
    font-size: larger;
}

.social {
    font-size: x-large;
    color: black;
    text-shadow: 2px 2px 2px lightgray;
    margin-left: 0.1rem;
}

/* Header Dropdown */

.header-drop {
    display: none;
}

@media (max-width: 1020px) { 
    .header-drop {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
    }

    .head-btns {
        display: flex;
    }
    
    .open-btn {
        color: black;
        font-size: x-large;
    }

    .open-btn:hover {
        cursor: pointer;
    }
    
    .close-btn {
        color: black;
        font-size: 1.8em;
        width: 1.5rem;
        height: 1.5rem;
    }

    .close-btn:hover {
        cursor: pointer;
    }
    
    nav {
        background-color: #969B9C;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 5.5rem;
        padding-bottom: 1rem;
        left: 0;
        z-index: 10;
    }

    .nav-bottom {
        width: 100%;
    }
    
    .link {
        color: black;
        text-align: center;
        width: 20rem;
        font-size: 2rem;
        margin: .5rem 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .link:hover {
        background-color: gray;
        color: white;
        text-shadow: 2px 2px 2px black;
    }

    .large-link {
        font-size: xx-large;
    }
    
    .nav-split {
        color: black;
        width: 23rem;
    }

    /* turn off extended nav */

    .header-nav {
        display: none;
    }

    .header-rt {
        display: none;
    }
}


/* Main */

main {
    background-color: #505168;
    height: 30rem;
    align-items: flex-start;
    display: flex;
}

.raised-lft {
    background-color: azure;
    width: 40rem;
    height: 25rem;
    position: absolute;
    margin: 2.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photo-div {
    background-color: black;
    /* margin: 2.5rem; */
    width: 40rem;
    height: 25rem;
}

.btns-div {
    display: flex;
    margin-bottom: 1rem;
}

.btns {
    width: 7rem;
    height: 2rem;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    margin-right: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns:hover {
    transition: .5s;
    background-color: white;
    color: black;
    cursor: pointer;
}

.mini-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

.faves {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
}

.fave-title {
    padding-top: .25rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px lightgray;
}

@media (max-width: 1020px) {
    main {
        height: inherit;
    }

    .raised-lft {
        width: 90%;
        margin: 1.5rem 5%;
    }

    .mini-about {
        font-size: larger;
    }

    .faves{
        width: 100%;
        height: 20rem;
        margin-top: 26.5rem; 
        margin-left: 0;
    }

    .fave-title {
        margin-left: 5%;
        font-size: xx-large;
    }
}