* {
    padding: 0;
    margin: 0;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
}

/* Header/Footer */

footer {
    background-color: #969B9C;
    height: 5.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.foot-title {
    font-family: "Oswald", sans-serif;   
}

header {
    background-color: #969B9C;
    height: 5.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
}

.large-link {
    font-size: larger;
    margin-left: 3rem;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.header-lft {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.header-rt {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.logo {
    font-family: "Oswald", sans-serif;   
}

.email {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-size: larger;
}

.social {
    font-size: x-large;
    color: black;
}

/* Main */

main {
    background-color: #505168;
    height: 30rem;
    align-items: center;
}

.raised-lft {
    background-color: azure;
    width: 40rem;
    height: 25rem;
    position: absolute;
    margin: 2.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btns-div {
    display: flex;
    margin-bottom: 1rem;
}

.btns {
    width: 7rem;
    height: 2rem;
    background-color: black;
    border: 2px solid black;
    color: white;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px;
    margin-right: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns:hover {
    transition: .5s;
    background-color: white;
    color: black;
    cursor: pointer;
}

.mini-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}